body
{
  text-align: center;
}

.broadway-design
{
  background-image: url(../images/the-flatiron-building.png);
  font-family: helvetica;
  font-weight: bold;
  color: white;
  text-align: center;
}

.broadway-design h1
{
  font-size: 70px;
}

.menus
{

  font-family: helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: normal;

}

.our-process
{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.icons
{
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.explanation
{
  font-family: helvetica;
  font-size: 14px;
  text-align: center;
}

.newyork
{
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-image: url(../images/the-flatiron-building.png);
}

.footer
{
  font-family: helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.icon-position
{
  position: relative;
  text-align: center;
}
